<div class="mempelai">
 <img src="../../../../assets/flower.png" alt="daniel & novy" width="300" height="120">
 <span>Daniel & Novy</span>

 <div class="content">
  <div class="daniel-text">
   <p><strong>Muhamad Hamdanil</strong></p>
   <p>Putra dari Bapak Muslim & Ibu Munira</p>
  </div>

  <div class="daniel-img">
   <img src="../../../../assets/daniel.png" alt="" width="180">
  </div>

  <div class="novy-img">
   <img src="../../../../assets/novy.png" alt="" width="180">
  </div>

  <div class="novy-text">
   <p><strong>Novy Ruspatiwi</strong></p>
   <p>Putri dari Bapak Rusnan & Ibu Maruni</p>
  </div>
 </div>
</div>