<div class="bigday">
 <div class="bg">
  <div class="text">
   <h2>The Big Day</h2>
   <p>8 November 2021</p>
   <span>Kami sangat mengharapkan kehadiran Bapak/Ibu sekalian</span>
  </div>

  <div class="countdown">
   <table>
    <tr id="timer">
     <td>{{ days }}</td>
     <td>{{ hours }}</td>
     <td>{{ minutes }}</td>
     <td>{{ seconds }}</td>
    </tr>

    <tr id="desc">
     <td>days</td>
     <td>hours</td>
     <td>minutes</td>
     <td>seconds</td>
    </tr>
   </table>
  </div>
 </div>
</div>