.bigday .bg {
 background: linear-gradient(90deg, rgba(10,40,74,0.5) 0%, rgba(14,50,91,0.5) 0%, rgba(0,0,0,0.5) 0%), url("https://images.unsplash.com/photo-1529636798458-92182e662485?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 100vh;
}

.bigday {
 padding-top: 80px;
}

.bigday .text{
 padding-top: 80px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 color: #fff;
}

.bigday .text h2 {
 font-family: 'Sacramento', cursive;
 font-size: 48px;
 padding-bottom: 40px;
}

.bigday .text p {
 font-family: 'Amatic SC', cursive;
 font-size: 68px;
}

.bigday .text span {
 font-family: 'Montserrat', sans-serif;
 font-size: 16px;
 padding-top: 120px;
}

.bigday .countdown {
 padding-top: 140px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.bigday .countdown table {
 table-layout: fixed;
 width: 40%;
 text-align: center;
}

.bigday .countdown table #timer {
 font-family: 'Montserrat', sans-serif;
 font-weight: 500;
 font-size: 72px;
 color: #fff;
}

.bigday .countdown table #desc {
 font-family: 'Montserrat', sans-serif;
 font-weight: 500;
 font-size: 14px;
 color: #fff;
}

/* For mobile phones: */
[class*="col-"] {
 width: 100%;
}

@media only screen and (min-width: 600px) {
 /* For tablets: */
 .col-s-1 {width: 8.33%;}
 .col-s-2 {width: 16.66%;}
 .col-s-3 {width: 25%;}
 .col-s-4 {width: 33.33%;}
 .col-s-5 {width: 41.66%;}
 .col-s-6 {width: 50%;}
 .col-s-7 {width: 58.33%;}
 .col-s-8 {width: 66.66%;}
 .col-s-9 {width: 75%;}
 .col-s-10 {width: 83.33%;}
 .col-s-11 {width: 91.66%;}
 .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
 /* For desktop: */
 .col-1 {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-8 {width: 66.66%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%;}
 .col-11 {width: 91.66%;}
 .col-12 {width: 100%;}
}